10/29, 6:00p - 8:00p, 2 hours
Sam   : 30 minutes
Ryan  : 30 minutes 
Miles : 30 minutes
Brian : 30 minutes

10/31, 5:00p - 6:30p, 1.5 hours
Miles : 45 minutes
Brian : 15 minutes
Sam   : 30 minutes

11/1, 8:00p - 11:00p, 3 hours
Ryan  : 45 minutes
Miles : 30 minutes
Sam   : 15 minutes
Brian : 30 minutes
Sam   : 30 minutes
Ryan  : 30 minutes

11/4, 12:00p - 5:00p, 5 hours
Brian : 30 minutes
Miles : 30 minutes
Sam   : 45 minutes
Miles : 15 minutes
Ryan  : 30 minutes
Brian : 30 minutes
Ryan  : 45 minutes
Sam   : 15 minutes
Miles : 30 minutes
Ryan  : 30 minutes

11/5, 4:00p - 6:30p, 2.5 hours
Miles : 30 minutes
Sam   : 30 minutes
Ryan  : 30 minutes
Brian : 45 minutes
Sam   : 15 minutes

11/9, 1:00p - 3:00p, 2 hours
Brian : 30 minutes
Sam   : 30 minutes
Miles : 30 minutes
Ryan  : 30 minutes

11/11, 7:30p - 11:00p, 3.5 hours
Ryan  : 45 minutes
Sam   : 30 minutes
Brian : 15 minutes
Miles : 30 minutes
Brian : 30 minutes
Ryan  : 15 minutes
Sam   : 45 minutes

11/13, 6:00p - 10:30p, 4.5 hours
Ryan  : 30 minutes
Miles : 30 minutes
Sam   : 30 minutes
Brian : 15 minutes
Miles : 30 minutes
Sam   : 15 minutes
Ryan  : 30 minutes
Brian : 30 minutes
Miles : 30 minutes
Ryan  : 15 minutes
Sam   : 45 minutes

11/14, 3:00p - 5:30p, 6:00p - 10:00p, 6.5 hours
Miles : 30 minutes
Brian : 30 minutes
Ryan  : 30 minutes
Sam   : 45 minutes
Brian : 30 minutes
Miles : 15 minutes
Ryan  : 30 minutes
Sam   : 30 minutes
Ryan  : 30 minutes
Miles : 45 minutes
Brian : 45 minutes
Sam   : 30 minutes

11/15, 2:00p - 6:00p, 6:30 - 11:30, 9 hours
Miles : 45 minutes
Sam   : 45 minutes
Brian : 30 minutes
Ryan  : 45 minutes
Brian : 15 minutes
Miles : 30 minutes
Ryan  : 30 minutes
Sam   : 45 minutes
Ryan  : 45 minutes
Brian : 30 minutes
Sam   : 15 minutes
Miles : 30 minutes
Brian : 15 minutes
Ryan  : 30 minutes
Sam   : 30 minutes
Brian : 45 minutes
Miles : 15 minutes

11/16, 2:00p - 6:00p, 7:00p - 11:59p, 9 hours
Sam   : 45 minutes
Ryan  : 45 minutes
Brian : 45 minutes
Miles : 45 minutes
Brian : 30 minutes
Sam   : 45 minutes
Ryan  : 30 minutes
Miles : 30 minutes
Sam   : 15 minutes
Ryan  : 30 minutes
Brian : 30 minutes
Sam   : 45 minutes
Miles : 30 minutes
Brian : 15 minutes
Ryan  : 30 minutes
Sam   : 30 minutes

11/17, 12:00a - 2:00a, 1:00p - 6:00p, 5 hours
Ryan  : 30 minutes
Sam   : 30 minutes
Miles : 45 minutes
Brian : 30 minutes
Sam   : 45 minutes
Ryan  : 45 minutes
Brian : 15 minutes
Miles : 30 minutes
Sam   : 30 minutes